$yellowDark:#b67400;
$yellow:#edbb64;
$yellowLight:#FFF87D;
$green:#8ed2c7;
$greenDark:#1c9783;
$purple:#bdabd5;
$purpleDark:#6437a0;
$pink:#fc92d0;
$pinkItem:#f3a5bf;
$pinkDark:#ce4271;
$blue:#99c6d9;
$blueDark:#2b91bc;
$blueLight:#5696ff;
$purple:#cfc4ff;
$grey:#acadb1;
$greyBox:#eeeeee;
$greyLight:#cacaca;
$greyDark:#3c3c3c;
$greyBTN:#ababab;
$blackLight:#292f3c;
$red:#f74858;
$fontS:2vh;
$fontL:5vh;
$fontLL:8vh;

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
